.item-1,.item-2,.item-3,.item-4,.item-5,.item-6,.item-7{
    background-color: rgb(181, 180, 177);
    margin: auto;
}

.h11,.h12,.h13,.h14,.h15,.h16,.h17{
    background-color: rgb(90, 90, 92);
    color: aliceblue;
}