.div{
    background-color: white;
    color:black;
    display: flex;
    justify-content: space-between;
    width:100%;
    top:0;
    left:0;
    right: 0;
    position: fixed;
    z-index: 1;
    scroll-behavior: smooth;
}
.item2 a{
    padding: 20px;
    font-size: 23px;
    letter-spacing: 3px;
    text-decoration: none;
    color: black;
}
.item{
    margin:15px;
}
.item a:hover{
    background-color: rgb(165, 165, 163);
    padding:5px;
    cursor: pointer;
}
.div2{
    position:relative;
    width: 100%;
}
.item3{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    letter-spacing: 3px;
}
.item3 b{
    background-color: black;
    padding: 10px;

}


img{
    width: 100%;
    display: block;
}

.div3{
    padding: 20px;
}

.parent{
    width: 325px;
    height: 250px;
    position: relative;
    display: inline-block;
    left: 15px;
    margin: 5px;
}
.child{
    width: 100px;
    height: auto;
    border: 1px solid black;
    position: absolute;
    left: 0;
    top:0;
    background-color: black;
    color: white;
    display: inline-block;
}

.child p{
    text-align:center;
    left: 5px;
}
    

img{
    width:100%;
    height: auto;
}



.c{
    padding-left: 10px;
    padding-right: 10px;
}
.c1,.c2,.c3,.c4{
    height: auto;
    width: 270px;
    margin: auto;
    display: inline-block;
    padding: 17px;
}

img{
    width: 100%;
}

button{
    width: 300px;
    height: 40px;
    border: 0;
    font-size: 17px;
}

button:hover{
    background-color: rgb(191, 189, 189);
}

.div5{
    margin:20px;
    letter-spacing: 1.6px;
    line-height: 1.5;
    margin-top: 30px;
}

.div6{
    margin:20px;
}

.div7 input{
    margin-left: 40px;
    width: 1300px;
    height: 40px;
    margin: 20px;
    display: block;
}
.div7 button{
    background-color: black;
    color: white;
    width:auto;
    margin-left: 7px;
    margin: 20px;
}

.div7 img{
    width:100%;
}

footer h6{
    background-color: black;
    color: white;
    text-align: center;
    padding:30px;
}
